@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
  .swiper-slide {
    opacity: .25;
  }
  .swiper-slide-visible {
    opacity: 1;
  }
  .selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}



.swiper-button-disabled{
    display:none;
}


.h70{
    height: 70vh;
}

.storyhero{
    background-image: url('/assets/ilalang.jpg');
        background-size: cover;
        background-position: center;
        background-color: transparent;
        height: 70vh;
        background-blend-mode:multiply;
}
.bg-hero-waykambas{
    background-image: url('/img/hero5.jpeg');
            background-repeat: no-repat;
            background-size: cover;
            height: 80vh;
            background-position: center;
            background-color: transparent;
            background-blend-mode:multiply;
}

.bg-green-diary{
    background-image: url('/img/greendiary.jpeg');
            background-repeat: no-repat;
            background-size: cover;
            height: 50vh;
            background-position: center;
            background-color: transparent;
            background-blend-mode:multiply;
}

@media screen and (max-width: 420px) {
    .storyhero {
        height: 100%;
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        width: 100%;
        background-image: url('/assets/ilalang.jpg');
    }
}
